linuxvda:
  citrix:
    #uri value must be supplied here
    uri: https://www.example.com/downloads/xen/linuxvda/
    #Formula default is currently version 7.16
    #src_pkg: XenDesktopVDA-7.16.0.412-1.el7_x.x86_64.rpm
    #src_hash: sha256=8b75157869fda9db2a8bebeffee75619fcda4d9dcadac62f013d4f89a7a6ffe6
    variables:
      #Site specific configuration
      CTX_XDL_DDC_LIST: citrixdc1.example.com

